extends layout

block content
    script(src="/socket.io/socket.io.js")
    script(src="/bundles/main.js")

    section
        a(name="activity")
        h2 Rockin' Activity
        div.activity
            div.inline
                span.headerText Know someone who rocks?&nbsp;
            div.inline
                a(href="https://twitter.com/intent/tweet?button_hashtag=YouRock", class="twitter-hashtag-button", data-size="large") Tweet with #YouRock
            div.inline
                span.headerText &nbsp;to let the world know
            script !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } } (document, 'script', 'twitter-wjs');
            div#tweets
                div.tweet Loading activity...
            if(error != null)
                div.wide #{error}

    section
        a(name="rockers")
        h2 Top Rockers
        div.activity
            div.wide
                div.inline
                    span.headerText Join us:&nbsp;
                div.inline
                    a(href="https://twitter.com/YouRockSite", class="twitter-follow-button", data-show-count="false", data-size="large", data-dnt="true") Follow @YouRockSite
            div.wide
                div.half
                    h3 Top Rockers
                    each user in topPraised
                        include user
                div.half
                    h3 Top Fans
                    each user in topPraisers
                        include user

    section
        a(name="corporate")
        h2 Corporate
        p
            | Do you want your very own praise machine for your team, company or club? Contact &nbsp;
            a(href="mailto:toast@softwire.com") toast@softwire.com


block footer
    div#toast.activity(style="display: none")
        h3
            | Someone just rocked!
            div.float.right
                button#close-toast close
        div#toast-content

