extends layout

block content
    if(error != null)
        div.error #{error}
    include user
    if (user.followsYouRock)
        div
            p #{user.name} follows
                |  
                a(href="https://twiter.com/YouRockSite") @YouRockSite
                |  on Twitter.


