div.tweet.box
    div.faces
        div.float.from
            a(href="http://twitter.com/#{tweet.user.screen_name}")
                img.profileImage(src="#{tweet.user.profile_image_url}")
        div.float
            img.profileImage.arrow.horizontalCenter(src="/images/arrow.png")
        if !to || to.length == 0
            div.float.to.from.horizontalCenter
                - var user = tweet.user
                include profileImage
        if to && to.length == 1
            div.float.to.from.horizontalCenter
                - var user = to[0]
                include profileImage
        if to && to.length > 1
            if to.length == 2
                div.float.to.horizontalCenter
                    each user in to
                        include profileImage
            if to.length > 2
                div.class.float.to
                    each user in to
                        include profileImage

    div
        div.text #{tweet.text}
        div.right.time #{tweet.created_at}