body {
    padding: 0px;
    margin: 0px;
    font: 12px;
    font-family: lato, sans-serif;
    color: #444;
}

h1 {
    font-size: 84px;
    margin: 0px;
    padding-bottom: 10px;
}

h2 {
    font-size: 60px;
    margin: 100px 0px 60px 0px;
    padding-top: 48px;
}

p {
    padding: 4px;
}

a {
    color: #A15140;
}

.container {
    width: 100%;
    height: 271px;
}

.header {
    display: inline-block;
    width: 100%;
    height: 48px;
    background:whitesmoke;
    font-size: 16px;
    font-weight: bold;
    position:fixed;
    top:0px;
    border:1px solid #CCC;
}

.header a {
    margin: 0 0.9em;
}

.nav {
    float: left;
    margin: 8px;
}

.headerText {
    border-bottom: 20px;
    display: table-cell;
    vertical-align: middle;
    height: 32px;
}

.headerRight {
    float: right;
    display: inline-block;
    margin: 8px;
}

.banner {
    margin-top: 50px;
}

.title {
    height: 220px;
    padding: 70px 50px 50px 50px;
    color: white;
    text-align: center;
}

.inline {
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}

.tweet {
    width: 100%;
    float: left;
}

.box {
    background: #FFF;
    margin: 1px;
    border: 1px solid #E2725B;
}

.tweet:hover {
    background: #E2725B;
}

.faces {
    width: 252px;
}

.profileImage {
    margin: 1px;
    height: 48px;
    width: 48px;
}

.arrow {
    margin-left: 1px;
    margin-right: 1px;
}

.from {
    margin: 25px;
}

.to {
    max-width: 100px;
}

.float {
    float: left;
}

.text {
    min-height: 50px;
    padding: 25px 25px 2px 25px;
}

.horizontalCenter {
    margin-top: 25px;
    margin-bottom: 25px;
}

.right {
    float: right;
}

.wide {
    width: 100%;
}

.half {
    width: 50%;
    display: inline-block;
}

.time {
    font-size: 10px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.content {
    max-width: 908px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.activity{
    display: inline-block;
    max-width: 600px;
    min-width: 66%;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

.users {
    display: inline-block;
    width: 300px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    padding: 5em 0;
    margin: 12em 0 0 0;
    background:whitesmoke;
    color:#aaa;
    font-size:0.8em;

}

.footer-text {
    display:block;
    max-width: 908px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#toast {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear:both;
    background:whitesmoke;
    border:1px solid #CCC;
}

button {
    display: block;
    background: #E2725B;
    height: 30px;
    min-width: 80px;
    line-height: 14px;
    color: white;
    border: none;
    cursor: pointer;
}